/* ----IMPORTIN CSS FILES---- */
@import url("../../home/styles/classes.css");
@import url("../../home/styles/media.css");


/*---- STYLES HERE ----*/

header .container-fluid {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

}


header .centered ul li a img {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

header .centered ul a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 5px 15px 0 0;
    font-weight: 400;
    transition: all 0.3s linear;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    box-sizing: border-box;
    color: #000000;
}



header .centered ul li a img {
    margin-right: 15px;
}


header .container-fluid .top-navbar .d-flex p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
}


header .container-fluid .top-navbar .d-flex p:nth-child(2) {
    font-size: 10px;
    font-weight: 600;
}

header .container-fluid {
    background-color: white;
    overflow: hidden;
    border-bottom: 1px lightgrey solid;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100% !important;
}

header .container-fluid .centered {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /*padding: 10px;*/
    z-index: 0;
    justify-content: space-between;
}



header .container-fluid p {
    line-height: 1.1;
    margin: 0;
}

.navbar-brand {

    padding: 8px;
    box-sizing: border-box;
    margin: 0;
}

.mobileversion {
    margin-right: 15px;
    background-color: transparent;
    border: 0;
}


.scrollable-menu{
    height: 100%;
    overflow-y: scroll;
}

main .container-fluid {
    margin-top: 30px;
}

main .container-fluid .row .sidebar {
    position: relative;
    padding-left: 0;
}

main .container-fluid .row .sidebarlinks {
    position: fixed;
    top: 50px;
    width: 25%;
    padding-left: 15px;
    padding-top: 60px;
    box-shadow: lightgrey 2px 0 2px;

}


main .container-fluid .row .sidebarlinks div a {
    text-decoration: none;
    /*display: block;*/
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
    font-weight: 400;
    transition: all 0.3s linear;
    color: #000000;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto-Regular", sans-serif;
    padding-left: 10px;
}

main .container-fluid .row .sidebarlinks div a:hover{
    background-color: #eaeaea;
}


main .container-fluid .row .sidebarlinks div:nth-child(1) a p{
    font-size: 15px;

}

/*main .container-fluid .row .sidebarlinks div:nth-child(2) a {*/
/*    text-decoration: none;*/
/*    !*display: block;*!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: 19px;*/
/*    margin: 0 15px 0 0;*/
/*    font-weight: 400;*/
/*    transition: all 0.3s linear;*/
/*    color: #0d0d0d;*/
/*    padding-top: 7px;*/
/*    padding-bottom: 7px;*/
/*    font-family: "Roboto-Regular", sans-serif;*/
/*}*/


main .container-fluid .row .sidebarlinks a img {
    margin-right: 15px;
    width: 25px;
    height: 25px;
}















/**********   col-3 sciences  ***********/
/*main .col-md-9 .center-block{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../images/algebra.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}*/

main .col-md-9 .d-flex .col-md-3 {
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

main .col-md-9 .d-flex {
    flex-wrap: wrap;
    flex-direction: row;
}
main .col-md-9 .d-flex .col-md-3 img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
    padding: 15px;
    box-sizing: border-box;
}
main .col-md-9 .d-flex .col-md-3 a:hover{
    cursor: pointer;
}

main .col-md-9 .d-flex .col-md-3 .icon {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    position: relative;
    background-color: skyblue;
    transition: all 0.15s linear;

}
main .col-md-9 .d-flex .col-md-3 a:hover .icon{
    background-color: #5C8CEB;
}
main .col-md-9 .d-flex .col-md-3 a {
    width: 130px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




/******** media for col-md-3 *******/


/*@media (min-width: 280px) and (max-width: 500px) {
    main .col-md-9 .d-flex .col-md-3{
        width: ;
    }
}
*/
/********** goes here ***********/


/*unordered list styles*/

main ol {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 1.63em;
    background-color: #ECECEC;
}
main ol ol li{
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
}

/******************************/




/****************toggle************/
/*.collapsing {*/
/*    transform: translate(-700px,0);*/
/*    transition: transform 3s linear !important;*/
/*    width: auto!important;*/
/*}*/
/*.collapse.in{*/
/*    transition: all 0.1s linear !important;*/
/*    height: 100%!important;*/
/*}*/
/*.collapse{*/
/*    transition: all 0.1s linear !important;*/
/*    height: 100%!important;*/
/*}*/

