/*---- MEDIA HERE ----*/


@media (max-width: 992px) {
    main .col-md-3.sidebar  {
        display: none !important;
    }
}


@media (min-width: 993px){
    header .mobileversion {
        display: none !important;
    }

    header .collapse.in {
        display: none;
    }
}



@media (min-width: 280px) and (max-width: 500px) {
    header .centered .d-flex {
        flex-direction: column;
    }

    header .centered .d-flex div {
        text-align: left;

    }

    header .centered .d-flex div:nth-child(2) a {
        padding-left: 7px;

    }

    header .centered .d-flex .col-xs-12 li a {
        font-size: 13px;

    }
}


@media (max-width: 350px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 100% !important;
    }

    main .col-md-9 .d-flex .col-md-3 a {
        width: 90px !important;
        font-size: 12px;
    }

    main .col-md-9 .d-flex .col-md-3 .icon {
        width: 90px!important;
        height: 90px!important;
    }

    main .col-md-9 .d-flex .col-md-3 img {
        padding: 10px;
    }
}

@media (min-width: 350px) and (max-width: 419px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 50% !important;
    }
    main .col-md-9 .d-flex .col-md-3 a {
        width: 90px !important;
        font-size: 12px;
    }

    main .col-md-9 .d-flex .col-md-3 .icon {
        width: 90px!important;
        height: 90px!important;
    }

    main .col-md-9 .d-flex .col-md-3 img {
        padding: 10px;
    }
}

@media (min-width: 419px) and (max-width: 551px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 33.33333% !important;
    }

    main .col-md-9 .d-flex .col-md-3 a {
        width: 90px !important;
        font-size: 12px;
    }

    main .col-md-9 .d-flex .col-md-3 .icon {
        width: 90px!important;
        height: 90px!important;
    }

    main .col-md-9 .d-flex .col-md-3 img {
        padding: 10px;
    }
}

/*fghjkl;lkjhgfdghjkl;*/
@media (min-width: 552px) and (max-width: 684px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 25% !important;
    }

    main .col-md-9 .d-flex .col-md-3 a {
        width: 100px !important;
        font-size: 13px;
    }

    main .col-md-9 .d-flex .col-md-3 .icon {
        width: 100px!important;
        height: 100px!important;
    }

    main .col-md-9 .d-flex .col-md-3 img {
        padding: 10px;
    }

}

@media (min-width: 685px) and (max-width: 767px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 20% !important;

    }

    main .col-md-9 .d-flex .col-md-3 a {

        width: 100px !important;
        font-size: 13px;
    }

    main .col-md-9 .d-flex .col-md-3 .icon {
        width: 100px!important;
        height: 100px!important;
    }

    main .col-md-9 .d-flex .col-md-3 img {
        padding: 10px!important;
    }

}

@media (min-width: 768px) and (max-width: 822px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 33.3333333% !important;
    }
}

@media (min-width: 823px) and (max-width: 993px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 25% !important;
    }
}

@media (min-width: 993px) and (max-width: 1112px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 33.333333% !important;
    }
}

@media (min-width: 1113px) {
    main .col-md-9 .d-flex .col-md-3 {
        width: 25% !important;
    }
}

@media (width: 992px)  {
    main .col-md-9 {
        width: 83.333333333%;
    }
}


